main {
    .main-input {
        width: calc(100% - 50px);
        position: relative;
        margin: 15px auto 0 0;
        input[type="text"] {
            border-radius: 5px;
            margin-top: 0;
        }
        svg {
            position: absolute;
            right: -20px;
            top: 17px;
            cursor: pointer;
        }
    }
}

.filters {
    display: flex;
    align-items: flex-start;
    margin: 0 auto 0 0;
}

.selected-filters {
    margin: 25px auto 0 0;
    display: flex;
    flex-wrap: wrap;
}

.results {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 30px -25px 0;
}