.filter {
    margin-right: 20px;
    &__header {
        position: relative;
        &--input-wrapper {
            position: relative;
            height: fit-content;
        }

        input[type="text"] {

            color: $white;
            min-width: 150px;
            width: calc(100% - 60px);
            border-radius: 5px;

            &:focus,
            &:active,
            &:focus-visible {
                outline: none;
            }

            &::placeholder {
                color: $white;
            }
        }
        .btn-wrapper {
            position: absolute;
            right: 25px;
            top: 50px;
            cursor: pointer;
            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                background-image: url('../../../../assets/images/chevron.svg');
                background-size: cover;
                background-repeat: no-repeat;
                height: 10px;
                width: 16px;
                transform: none;
                transition: transform 0.2s ease-in-out;
            }
        }
        button {
            height: 10px;
            width: 16px;
            background-color: transparent;
            border: none;
        }
    }

    &__body {
        max-height: 0;
        width: 0;
        overflow-y: auto;
        transition: all 0.4s ease-in-out;
        border-radius: 5px;
        margin-top: -5px;
        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5px 50px;
        }
        li {
            padding: 5px 20px;
            cursor: pointer;
        }
    }

    &.open {
        .filter {
            &__header {
                .btn-wrapper::after {
                    transform: rotate(180deg);
                }
            }

            &__body {
                max-height: 315px;
                width: calc(100% - 10px);
                position: relative;
                ul {
                    padding: 15px 0;
                }
                li {
                    transition: color 0.2s ease-in-out;
                    &:hover {
                        color: rgba($color: $white, $alpha: 0.5);
                }
            }
            }
        }
    }

    &--blue {
        input[type="text"] {
            background-color: $color-001;
        }

        .filter__body {
            background-color: $color-001;

            li {
                color: $white;
            }
        }
    }

    &--green {
        input[type="text"] {
            background-color: $color-002;
        }

        .filter__body {
            background-color: $color-002;

            li {
                color: $white;
            }
        }
    }

    &--red {
        input[type="text"] {
            background-color: $color-003;
        }

        .filter__body {
            background-color: $color-003;

            li {
                color: $white;
            }
        }
    }
}