@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Lato Regular";
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 100px;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

@font-face {
  font-family: "Lato Regular";
  src: url("../../fonts/Lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
h1 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Lato Regular";
  margin: 80px auto 50px;
  text-align: center;
}

h2 {
  font-size: 18px;
}

h3 {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}
h3 svg {
  margin-right: 7px;
}

strong {
  font-weight: bold;
}

input[type=text] {
  width: 100%;
  height: 70px;
  font-size: 18px;
  line-height: 21px;
  font-family: "Lato", sans-serif;
  padding: 0 25px;
  margin-top: 20px;
  background-color: #E7E7E7;
  border: none;
  color: rgba(0, 0, 0, 0.25);
}

.filter {
  margin-right: 20px;
  position: relative;
}
.filter__header {
  position: relative;
}
.filter__header--input-wrapper {
  position: relative;
  height: fit-content;
}
.filter__header input[type=text] {
  color: #fff;
  min-width: 150px;
  width: calc(100% - 60px);
  border-radius: 5px;
}
.filter__header input[type=text]:focus, .filter__header input[type=text]:active, .filter__header input[type=text]:focus-visible {
  outline: none;
}
.filter__header input[type=text]::placeholder {
  color: #fff;
}
.filter__header .btn-wrapper {
  position: absolute;
  right: 25px;
  top: 50px;
  cursor: pointer;
}
.filter__header .btn-wrapper::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../../../../assets/images/chevron.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 10px;
  width: 16px;
  transform: none;
  transition: transform 0.2s ease-in-out;
}
.filter__header button {
  height: 10px;
  width: 16px;
  background-color: transparent;
  border: none;
}
.filter__body {
  max-height: 0;
  width: 0;
  overflow-y: auto;
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
  margin-top: -5px;
}
.filter__body ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px 50px;
}
.filter__body li {
  padding: 5px 20px;
  cursor: pointer;
}
.filter.open {
  width: 680px;
}
.filter.open .filter__header .btn-wrapper::after {
  transform: rotate(180deg);
}
.filter.open .filter__body {
  max-height: 315px;
  width: 670px;
  position: absolute;
  top: 100%;
  z-index: 10;
}
.filter.open .filter__body ul {
  padding: 15px 0;
}
.filter.open .filter__body li {
  transition: color 0.2s ease-in-out;
}
.filter.open .filter__body li:hover {
  color: rgba(255, 255, 255, 0.5);
}
.filter--blue input[type=text] {
  background-color: #3282F7;
}
.filter--blue .filter__body {
  background-color: #3282F7;
}
.filter--blue .filter__body li {
  color: #fff;
}
.filter--green input[type=text] {
  background-color: #68D9A4;
}
.filter--green .filter__body {
  background-color: #68D9A4;
}
.filter--green .filter__body li {
  color: #fff;
}
.filter--red input[type=text] {
  background-color: #ED6454;
}
.filter--red .filter__body {
  background-color: #ED6454;
}
.filter--red .filter__body li {
  color: #fff;
}

.selected-filters__item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  animation: fadeIn 0.4s forwards;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 15px;
}
.selected-filters__item--blue {
  border: 1px solid #3282F7;
  background-color: #3282F7;
}
.selected-filters__item--blue:hover {
  background-color: #fff;
}
.selected-filters__item--blue:hover p {
  color: #3282F7;
}
.selected-filters__item--blue:hover svg path {
  fill: #3282F7;
}
.selected-filters__item--green {
  border: 1px solid #68D9A4;
  background-color: #68D9A4;
}
.selected-filters__item--green:hover {
  background-color: #fff;
}
.selected-filters__item--green:hover p {
  color: #68D9A4;
}
.selected-filters__item--green:hover svg path {
  fill: #68D9A4;
}
.selected-filters__item--red {
  border: 1px solid #ED6454;
  background-color: #ED6454;
}
.selected-filters__item--red:hover {
  background-color: #fff;
}
.selected-filters__item--red:hover p {
  color: #ED6454;
}
.selected-filters__item--red:hover svg path {
  fill: #ED6454;
}
.selected-filters__item p {
  color: #fff;
  font-size: 14px;
  font-family: "Lato Regular";
  margin-right: 13px;
  transition: all 0.2s ease-in-out;
}
.selected-filters__item svg path {
  transition: all 0.2s ease-in-out;
}

.result {
  width: 380px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #E7E7E7;
  margin: 25px 25px;
  animation: fadeIn 0.4s forwards;
}
.result__img-wrapper {
  width: 100%;
  height: 180px;
  background-color: #C7BEBE;
}
.result__img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.result__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.result__text-wrapper {
  padding: 20px;
}
.result__text-wrapper p {
  font-size: 12px;
  font-family: "Roboto Regular";
  width: 50%;
}
.result__texts {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.result__texts li {
  font-size: 12px;
  margin-top: 2px;
}

main .main-input {
  width: calc(100% - 50px);
  position: relative;
  margin: 15px auto 0 0;
}
main .main-input input[type=text] {
  border-radius: 5px;
  margin-top: 0;
}
main .main-input svg {
  position: absolute;
  right: -20px;
  top: 17px;
  cursor: pointer;
}

.filters {
  display: flex;
  align-items: flex-start;
  margin: 0 auto 0 0;
}

.selected-filters {
  margin: 25px auto 0 0;
  display: flex;
  flex-wrap: wrap;
}

.results {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 -25px;
}/*# sourceMappingURL=main.css.map */