@font-face {
    font-family: 'Lato Regular';
    src: url('../../fonts/Lato/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Regular';
    src: url('../../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

h1 {
    font-size: 24px;
    font-weight: 600;
    font-family: $font-001;
    margin: 80px auto 50px;
    text-align: center;
}

h2 {
    font-size: 18px;
}

h3 {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    svg {
        margin-right: 7px;
    }
}

strong {
    font-weight: bold;
}